* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', cursive;
}

/*************************** Animation for Text************************/

.focus-in-contract {
	-webkit-animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

  /**
  * ----------------------------------------
  * animation focus-in-contract
  * ----------------------------------------
  */
 @-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}




/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}







.bounce-in-top {
	-webkit-animation: bounce-in-top 1.5s both;
	        animation: bounce-in-top 1.5s both;
}

/**
 * ----------------------------------------
 * animation bounce-in-top
 * ----------------------------------------
 */
 @-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
            transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
            transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


/**************************** END Animation for Text ***************/




html{
  scroll-behavior: smooth;
}

.container{
  padding: 0 100px 0 100px;
}
.lgo h1 {
  font-size: 4rem;
  color: #fff;
}


nav ul,
.main-info-section,
.work-category{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-wrap{
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg,	#12c2e9, #c471ed, #f64f59);
  background-size: 400% 400%;
  position: relative;
  animation: change 10s ease-in-out infinite;
}

.navbar {
  /* background-color: #181818; */
  
}

@keyframes change {
  0%{
      background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;
}



header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
  color: #707070;
}

li{
  list-style: none;
  margin-left: 30px;
}
a{
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
}

.main-info-section{
  height: calc(100vh - 81.6px);
}

.text{
  margin-top: 120px;
}

.text h1{
  color: #fff;
  font-size: 5rem;
  cursor: context-menu;
}
.text span{
  display: inline-block;
}

.header-wrap span:hover{
  color: #48CFAD;
  transition: all .5s;
}

span.name{
  color: #48CFAD;
}

span.m-left{
  margin-left: -10px;
}

.text p {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 1.5rem;
  background: linear-gradient(-45deg,	#03b194, #e2c000, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 5s ease-in-out infinite;

}

.text a{
  padding: 12px 25px;
  background-color: none;
  border: 3px solid #fcfcfc;
  color: #f5f5f5;
  font-size: .9rem;
  letter-spacing: 2px;
  position: relative;
  top: 80px;
  overflow: hidden;
  transition: .5s;
  display: inline-block;
  font-weight: 800;

}

.text a:hover{
  color: rgb(3, 3, 3);
}

.text a::before{
  content: '';
  background-color: #f5f5f5;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  z-index: -1;
  transition: .5s;
}

.text a:hover::before{
  height: 100%;
}

.profile-image img {
  width: 450px;
  margin-top: 50px;
}

.about{
  height: 100vh;
  margin-top: 100px;
}

.about h1,
.work h1{
  font-size: 10rem;
  z-index: 2;
  opacity: .5;
  color: #252627;

}

.about-me-info{
  max-width: 900px;
  background-color: #252627;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, .25);
  padding: 35px;
  position: relative;
  top:0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 1;
  
}

.about-me-info p {
  font-size: 1.6rem;
  color: #BEBEBE;
}
.about-me-info p:nth-child(2),
.about-me-info p:last-child{
    margin-top: 30px;
}

.about img {
  width: 300px;
  position: relative;
  top: -300px;
  left: calc(100%-100px);
  right: calc(100%-100px);
  transform: translateX(calc(-100px + 100px));
}

.skills{
  height: 100vh;
}
.skills p {
  font-size: 1.5rem;
  color: #707070;
}
.skills h1,
.contact h1 {
  text-align: right;
  font-size: 10rem;
  opacity: .5;
}

.skills-info{
  font-size: 1.4rem;
  color: #BEBEBE;
  max-width: 800px;
  position: relative;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 50px;
}

.html{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
}

div[class^='tag-'] {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
  width: 120px;
  height: 30px;
  background-color: #1785A7;
  margin-right: 30px;
}

div[class^='tag-'] p {
  color: #fff;
  text-align: left;
  padding-left: 10px;
  font-size: 1.1rem;
  padding-top: 3px;
}

.progressbar {
  position: relative;
  width: 600px;
  height: 20px;
  border: 2px solid #48cfad;
  border-radius: 20px;
  margin-top: 7px;
}

div[class^='bar-']{
  position: absolute;
  background-color: #48cfad;
  height: 10px;
  border-radius: 20px;
  margin: 2.7px;
}

.bar-html,
.bar-css,
.bar-javscript,
.bar-php {
  width: calc(0-6px);
}

.work-category button{
  text-transform: capitalize;
  border: 3px solid #ED5565;
  padding: 15px 30px;
  border-radius: 50px;
  color: #ED5565;
  font-size: 1.4rem;
  letter-spacing: 2px;
  background-color: #252627;
  outline: none;
  cursor: pointer;
}

div[class^='category-']{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  grid-gap:20px;
}

.work a{
  justify-self: center;
  position: relative;
  display: inline-block;
}
.work-category .active{
  background-color: #ED5565;
}
button.active {
 color: #fff;
}
.work a img {
  width: 250px;
  justify-self: center;
}


div.hideCategory{
  display: none;
}

.showCategory{
  display: block;
}

.contact{
  margin-top: 50px;
}


form input:last-child {
  width: 150px;
  background-color: #ED5565;
  border: none;
  cursor: pointer;
}

footer hr{
  border: 2px solid #707070;
}

footer p {
  text-align: center;
  color: #707070;
  font-size: 1.5rem;
  padding: 30px 0;
}
.about h1,
.skills h1,
.work h1,
.contact h1 {
  
   background: linear-gradient(-45deg,	#12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s ease-in-out infinite;
}


@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}


/***********************  SECTION CONTACT *******************/

section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #112d42;
}
section::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #03a9f4;
}
section .container{
  position: relative;
  min-width: 1100px;
  min-height: 550px;
  display: flex ;
  z-index: 10;
}
section .container .contactinfo {
  position: absolute;
  top: 40px;
  width: 450px;
  height: calc(100% - 80px);
  background: #0f3959;
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

section .container .contactinfo h2{
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  font-family: 'Dancing Script', cursive;
  letter-spacing: 5px;
}
section .container .contactinfo .info {
  position: relative;
  margin: 15px 0;
  padding: 20px;

}

section .container .contactinfo .info li {
  position: relative;
  list-style: none;
  display: flex;
  margin: 0 0 24px 0;
  cursor: pointer;
  align-items: flex-start;
}

section .container .contactinfo .info li span:nth-child(1) {
 width: 30px;
 min-width: 30px;
 display: flex;
}
section .container .contactinfo .info li span:nth-child(1) i{
  max-width: 100%;
  filter: invert(1);
  opacity: 0.5;
}

section .container .contactinfo .info li span:nth-child(2) {
  color: #fff;
  margin-left: 20px;
  font-weight: 500;
  opacity: 0.5;
  position: relative;
  top: 5px;
  font-size: 1.6rem;
 }

 section .container .contactinfo .info li:hover span:nth-child(1) i,
 section .container .contactinfo .info li:hover span:nth-child(2){
   opacity: 1;

 }


 section .container .contactinfo .sci {
   position: relative;
   display: flex;
   margin-bottom: 50px;
   justify-content: center;
   margin-right: 10%;
 }

 section .container .contactinfo .sci li {
   list-style: none;
   margin-right: 15px;
 }

 section .container .contactinfo .sci li a{
   text-decoration: none;
 }

 section .container .contactinfo .sci li a img {
   filter: invert(1);
   opacity: 0.5;
   width: 50px;
 }

 section .container .contactinfo .sci li:hover a img {
   opacity: 1;
 }

 section .container .contactForm {
   position: absolute;
   padding: 70px 50px;
   background: #fff;
   margin-left: 250px;
   padding-left: 250px;
   width: calc(100% - 300px);
   height: 100%;
   box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
   
 }
 
 section .container .contactForm h2 {
   color: #0f3959;
   font-size: 42px;
   font-weight: 500;
   font-family: 'Dancing Script', cursive;
   margin-top: 15px;
   text-align: center;
   letter-spacing: 10px;
 }

 section .container .contactForm .formBox {
   position: relative;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   padding-top: 30px;
 }

 section .container .contactForm .formBox .inputBox {
   position: relative;
   margin: 0 0 35px 0;
 }

 section .container .contactForm .formBox .inputBox .w50 {
   width: 50%;
 }

 section .container .contactForm .formBox .inputBox .w100 {
  width: 100%;
}

section .container .contactForm .formBox .inputBox input,
section .container .contactForm .formBox .inputBox textarea {
  width: 100% !important;
  padding: 5px 0;
  font-size: 25px;
  resize: none;
  font-weight: 300;
  color: #333;
  border: none;
  border-bottom: 1px solid #777;
  outline: none;
}

section .container .contactForm .formBox .inputBox textarea {
  min-height: 120px;
}

section .container .contactForm .formBox .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 18px;
  font-weight: 300;
  color: #333;
  transition: 0.3s;
  pointer-events: none;
}

section .container .contactForm .formBox .inputBox input:focus ~ span,
section .container .contactForm .formBox .inputBox textarea:focus ~ span,
section .container .contactForm .formBox .inputBox input:valid ~ span,
section .container .contactForm .formBox .inputBox textarea:valid ~ span {
  transform: translateY(-20px);
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #ff568c;

}

section .container .contactForm .formBox .inputBox input[type="submit"] {
  position: relative;
  cursor: pointer;
  background: #0f3959;
  color: #fff;
  border: none;
  max-width: 150px;
  padding: 12px;
  float: right;
}

section .container .contactForm .formBox .inputBox input[type="submit"]:hover {
  background: #ff568c;

}



/********************* Button Scroll to Top ****************/
#topBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #3f3e3e;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
}















